@charset "utf-8";
html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background: linear-gradient(lightblue, white);
}


/**************************header****************************/

body>header {
	width: 100%;
	height: 8%;
	background: #CCC;
}

body>header div {
	height: 100%;
}

.logo {
	margin-left: 5%;
	float: left;
	width: 4rem;
}

.logo img {
	height: 100%;
	width: 100%;
}

.title {
	text-decoration: none;
	font-size: 2rem;
	line-height: 4rem;
	display: inline-block;
	height: 100%;
	font-family: "blackadder itc";
	font-weight: bolder;
}

.title>a {
	text-decoration: none;
	color: black;
}